*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    min-height:550px;
}
.footer_area{
    background: #3ca9e8;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    margin-top: 20px;
}
.footer_area p{
    margin: 0;
}
